@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    padding : 0;
    margin : 0;
}

h1 {
    font-family: 'Pacifico', cursive , 'Arial';
}

h2 {
    font-family:  'Arial' , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji";
}